parameters:
    ignoreErrors:
        -
            identifier: trait.unused
            paths:
                - src/ExternalIdentity/Concerns/HasIdentityResource.php
                - src/ExternalIdentity/Concerns/HasIdentityTenantRelationships.php
